.title{
    position:relative;
}
.title p{
    position:absolute;
    color:white;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 70px;
    font-family:Quicksand,sans-serifs;
}
.title img{
    widows: 100px;
}
.title h1{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    color:white;
    /*background: skyblue;*/
    font-size:25px;
    padding:5px 10px;
}


.menu{
    position: absolute;
    top:20px;
    right:20px;
    width:170px;
    min-width: 90px;
    background-color: white;
    padding: 0px;
    
}

li{
    list-style: none;
    text-align: center;
    height: 40px;
    margin:0px;

}

li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

li a.active{
    color:#ffffff;
    background-color: rgb(72, 52, 250);
}

li a:hover:not(.active){
    color: white;
    background-color:rgba(70, 22, 202, 0.404);
}

.menu > li > div {
    visibility: hidden;
}

.menu > li:hover > div{
    visibility: visible;
}

li-m{
    list-style: none;
    text-align: center;
    height: 40px;
    margin:0px;

}

