.title{
    position:relative;
}
.title p{
    position:absolute;
    color:white;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 70px;
    font-family:Quicksand,sans-serifs;
}
.title img{
    widows: 100px;
}
.title h1{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    color:white;
    /*background: skyblue;*/
    font-size:25px;
    padding:5px 10px;
}


.menu{
    position: absolute;
    top:20px;
    left:20px;
    width:170px;
    min-width: 90px;
    background-color: white;
    padding: 0px;
    border-radius: 20px;
    display: inline;
}

li{
    list-style:none;
    text-align: center;
    height: 40px;
    margin:0px;
}

li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    left:20px;
}

li a.active{
    color:#ffffff;
    background-color: rgb(72, 52, 250);
    border-radius: 20px;
    width: 100px;
    margin: 0 auto;
}

li a:hover:not(.active){
    color: rgb(0, 0, 0);
    background-color:rgba(44, 25, 212, 0.404);
    border-radius: 20px;
    width: 100px;
    margin: 0 auto;
}

.menu > li > div {
    visibility: hidden;
}

.menu > li:hover > div{
    visibility: visible;
    background-color: rgba(207, 203, 203, 0.849);
    border-radius:20px;
}

li-m{
    list-style: none;
    text-align: center;
    height: 40px;
    margin:0px;
}
